@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

*{
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth !important;
}

body {
  scroll-behavior: smooth !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-origin: content-box;
  color: white;
  overflow-x: hidden;
  /* -moz-touch-callout: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-zoom: none !important;
  -moz-user-zoom: none !important;
  scroll-behavior: smooth !important;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo', sans-serif;
}

::-webkit-scrollbar{
  width: 0.7rem;
  background-color: #1a1a1a;
  border-radius: 0.7rem;
}

::-webkit-scrollbar-thumb{
  background-color: #f65d2a;
  border-radius: 0.7rem;
  height: 3rem;
}
