@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  overflow-x: hidden;
}

body {
  background: url("../../public/images/home-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-origin: content-box;
  color: white;
  overflow-x: hidden;
  
}


::-webkit-scrollbar{
  width: 0.7rem;
  background-color: #1a1a1a;
  border-radius: 0.7rem;
}

::-webkit-scrollbar-thumb{
  background-color: #f65d2a;
  border-radius: 0.7rem;
  height: 3rem;
}
